/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    background-image: url("./assets/signout.jpg");
    height: 120vh;
    position: relative;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
  }
  
  @media screen and (max-width: 1070px) {
    .container {
      height: 667px;
      width: 1070px;
    }
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    max-height: 4.5rem;
  }
  
  .netflixLogo {
    opacity: 1;
    width: 9.4rem;
    margin-left: 3rem;
    margin-top: 1.5rem;
    position: relative;
    z-index: 10;
  }
  
  .headerSignIn {
    font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    margin-right: 2.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.3rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    background-color: red;
    border: none;
    padding: 4px 0.6rem;
    border-radius: 3px;
  }
  
  .headerSignIn:hover {
    text-decoration: underline;
  }
  
  .box {
    height: 21rem;
    width: 28rem;
    margin-left: 28rem;
    margin-top: 3rem;
    background-color: white;
    opacity: 1;
    z-index: 10;
  }
  
  .heading1 {
    font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgb(74, 73, 73);
    font-size: 2.4rem;
    padding-top: 2rem;
    padding-left: 2rem;
    max-width: 25rem;
  }
  
  .boxPara {
    padding-top: 1rem;
    padding-left: 2rem;
    font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 18px;
    padding-bottom: 1rem;
    max-width: 25rem;
  }
  
  .boxSpan {
    padding-left: 2rem;
    font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 18px;
  }
  
  .netflixButton {
    max-width: 25rem;
    margin-left: 2rem;
    margin-top: 2rem;
    font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 20px;
    background-color: rgb(71, 71, 253);
    border: none;
    padding: 8px 10rem;
    color: white;
  }
  
  .lastContent {
    margin-top: 28.5rem;
    height: 44vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
  }
  
  .netflixPara3 {
    font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: white;
    font-size: 1.1rem;
    z-index: 10;
    margin-left: 4rem;
    padding-top: 2rem;
  }
  
  .netflixContactNo {
    font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: white;
    font-size: 1.1rem;
    z-index: 10;
  }
  
  .content3DummyBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 4rem;
    margin-top: 2rem;
    width: 60rem;
  }
  
  .content3Box1 {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 13px;
  }
  
  .content3Anchor {
    color: white;
    z-index: 10;
  }
  
  .netflixMainButton {
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
    margin-top: 1.5rem;
    margin-left: 4rem;
    position: relative;
    z-index: 10;
  }
  
  .netflixMainButton1 {
    border-radius: 0.3rem;
    border: none;
    background-color: white;
  }
  
  .language {
    color: black;
    font-weight: 500;
    padding: 0.8rem;
    padding-right: 3.5rem;
    font-size: 15px;
    border-radius: 0.1rem;
    background-color: white;
  }
  .flashMessage {
    color: #fff;
    background-color: rgba(229, 9, 20, 0.9); 
    padding: 12px 24px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    animation: fadeOut 3s ease-in-out;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
} */

























* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: url("./assets/signout.jpg");
  height: 120vh;
  position: relative;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
}

@media screen and (max-width: 1070px) {
  .container {
    height: 667px;
    width: 100%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  max-height: 4.5rem;
}

.netflixLogo {
  opacity: 1;
  width: 9.4rem;
  margin-left: 3rem;
  margin-top: 1.5rem;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .netflixLogo {
    width: 7rem;
    margin-left: 1rem;
  }
}

.headerSignIn {
  font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  margin-right: 2.3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.3rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  background-color: red;
  border: none;
  padding: 4px 0.6rem;
  border-radius: 3px;
}

.headerSignIn:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .headerSignIn {
    margin-right: 1rem;
    font-size: 1rem;
    padding: 4px 0.5rem;
  }
}

.box {
  height: 21rem;
  width: 28rem;
  margin-left: 28rem;
  margin-top: 3rem;
  background-color: white;
  opacity: 1;
  z-index: 10;
}

@media screen and (max-width: 1200px) {
  .box {
    margin-left: 15rem;
  }
}

@media screen and (max-width: 768px) {
  .box {
    margin-left: 5%;
    width: 90%;
    height: auto;
    padding: 2rem;
  }
}

.heading1 {
  font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  color: rgb(74, 73, 73);
  font-size: 2.4rem;
  padding-top: 2rem;
  padding-left: 2rem;
  max-width: 25rem;
}

@media screen and (max-width: 768px) {
  .heading1 {
    font-size: 1.8rem;
    padding-left: 1rem;
  }
}

.boxPara {
  padding-top: 1rem;
  padding-left: 2rem;
  font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  font-size: 18px;
  padding-bottom: 1rem;
  max-width: 25rem;
}

@media screen and (max-width: 768px) {
  .boxPara {
    font-size: 16px;
    padding-left: 1rem;
  }
}

.boxSpan {
  padding-left: 2rem;
  font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .boxSpan {
    font-size: 16px;
    padding-left: 1rem;
  }
}

.netflixButton {
  max-width: 25rem;
  margin-left: 2rem;
  margin-top: 2rem;
  font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  font-size: 20px;
  background-color: rgb(71, 71, 253);
  border: none;
  padding: 8px 10rem;
  color: white;
}

@media screen and (max-width: 768px) {
  .netflixButton {
    width: 100%;
    margin-left: 0;
    padding: 8px 1rem;
  }
}

.lastContent {
  margin-top: 28.5rem;
  height: 44vh;
  width: 100%;
  opacity: 0.69;
  background-color: black;
  position: absolute;
  top: 0;
}

.netflixPara3 {
  font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  color: white;
  font-size: 1.1rem;
  z-index: 10;
  margin-left: 4rem;
  padding-top: 2rem;
}

@media screen and (max-width: 768px) {
  .netflixPara3 {
    margin-left: 1rem;
    font-size: 1rem;
  }
}

.netflixContactNo {
  font-family: "Netflix Sans", Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
  color: white;
  font-size: 1.1rem;
  z-index: 10;
}

.content3DummyBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 4rem;
  margin-top: 2rem;
  width: 60rem;
}

@media screen and (max-width: 1200px) {
  .content3DummyBox {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .content3DummyBox {
    grid-template-columns: 1fr;
  }
}

.content3Box1 {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 13px;
}

.content3Anchor {
  color: white;
  z-index: 10;
}

.netflixMainButton {
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
  margin-top: 1.5rem;
  margin-left: 4rem;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .netflixMainButton {
    flex-direction: column;
    margin-left: 1rem;
  }
}

.netflixMainButton1 {
  border-radius: 0.3rem;
  border: none;
  background-color: white;
}

.language {
  color: black;
  font-weight: 500;
  padding: 0.8rem;
  padding-right: 3.5rem;
  font-size: 15px;
  border-radius: 0.1rem;
  background-color: white;
}

@media screen and (max-width: 768px) {
  .language {
    padding-right: 2rem;
  }
}

.flashMessage {
  color: #fff;
  background-color: rgba(229, 9, 20, 0.9);
  padding: 12px 24px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  animation: fadeOut 3s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}