* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: url("../assets/netflixlatestbg.jpg");
  height: 120vh;
  position: relative;
  background-position: center center;
  background-size: 100vw 120vh;
  background-repeat: no-repeat;
}

.container .box {
  height: 120vh;
  width: 100%;
  opacity: 0.69;
  background-color: black;
  position: absolute;
  top: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  max-height: 4.5rem;
}

.netflix-logo {
  opacity: 1;
  height: 8.7rem;
  width: 9.4rem;
  margin-left: 10rem;
  margin-top: 0.8rem;
  position: relative;
  z-index: 10;
}

#netflix-header-button {
  padding-right: 10.2rem;
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
  margin-top: 0.8rem;
  position: relative;
  z-index: 10;
}

#netflix-header-button1 {
  border-radius: 0.3rem;
  border: none;
  background-color: rgba(13, 13, 13, 0.3);
}

#language {
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 0.3rem 1rem;
  font-size: 15px;
  border-radius: 0.3rem;
  background-color: rgba(13, 13, 13, 0.3);
}

#netflix-header-button2 {
  padding: 0.1rem 0.7rem;
  background-color: red;
  opacity: 100%;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 13rem;
  margin-left: 0.2rem;
}
#main-title1 {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  position: relative;
  z-index: 10;
  color: rgb(255, 255, 255);
  font-size: 3.12rem;
  font-weight: 800;
  display: block;
}
#main-title2 {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  position: relative;
  z-index: 10;
  color: rgb(255, 255, 255);
  font-size: 1.524rem;
  font-weight: 450;
  display: block;
}
#main-title3 {
  font-family: netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  position: relative;
  z-index: 10;
  color: rgb(255, 255, 255);
  padding-top: 0.4rem;
  font-size: 1.324rem;
  font-weight: 400;
  display: block;
}
.first-button {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  margin-left: 23rem;
}

#loginForm1 {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}

#EMAIL {
  position: relative;
  z-index: 10;
  margin-top: 1.2rem;
  width: 23.5rem;
  padding-left: 15px;
  font-size: 16px;
  border-radius: 0.3rem;
  border: 1.3px solid rgb(247, 33, 33);
  background-color: rgba(34, 33, 33, 0.5);
  color: rgb(255, 255, 255);
}

#last-sign-in-button {
  position: relative;
  z-index: 10;
  padding: 1rem 1.8rem;
  border-radius: 0.3rem;
  margin-top: 1.2rem;
  color: rgb(255, 255, 255);
  background-color: red;
  font-size: 25px;
  font-weight: bold;
  border: none;
}
.BOX {
  background-color: rgb(36, 35, 35);
  width: 100%;
  height: 8px;
}

.content2 {
  height: 86vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.content2-left {
  display: flex;
  flex-direction: column;
  background-color: black;
}
.content2-heading1 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  margin-top: 9.5rem;
  margin-left: 10rem;
}

.content2-heading2 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-top: 1rem;
  margin-left: 10rem;
}

.content2-right {
  background-color: black;
  position: relative;
}
.content2-right img {
  position: relative;
  z-index: 10;
  height: 25rem;
  width: 31.89rem;
  font-weight: 25rem;
  margin-top: 3.5rem;
}

.content2-right video {
  height: 15.6rem;
  max-width: 23.2rem;
  position: absolute;
  margin-top: 4.3rem;
  margin-right: 14.7rem;
  right: 0;
  top: 52px;
}

.content3 {
  height: 86vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.content3-left {
  background-color: black;
  position: relative;
}
.content3-left-img {
  height: 24.5rem;
  width: 32.5rem;
  margin-left: 9.5rem;
  margin-top: 3.8rem;
}

.content3-right {
  display: flex;
  flex-direction: column;
  background-color: black;
}
.content3-heading1 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  color: rgb(255, 255, 255);
  margin-top: 9rem;
  font-size: 3.1rem;
  font-weight: 700;
  margin-right: 10rem;
}
.content3-heading2 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  color: rgb(255, 255, 255);
  margin-top: 0.6rem;
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 10.5rem;
}

.dummy {
  background: rgb(0, 0, 0);
  overflow: hidden;
  position: absolute;
  -webkit-box-align: center;
  left: 20%;
  bottom: 18%;
  margin: 0 auto;
  margin-left: 8.4rem;
  align-items: center;
  width: 42%;
  height: 19.8%;
  z-index: 1;
  border: 2px solid rgba(128, 128, 128, 0.7);
  box-shadow: 0 0 2em 0 rgb(0, 0, 0);
  border-radius: 0.8rem;
}

.dummy-left {
  display: flex;
  flex-direction: row;
}

.dummy-4-img {
  height: 5rem;
  width: 3.8rem;
  margin-left: 0.6rem;
  margin-top: 0.5rem;
}

.dummy-4-para-box {
  margin-left: 0.8rem;
}

.dummy-4-para1 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 17px;
  margin-top: 1.7rem;
  font-weight: 600;
  color: white;
}
.dummy-4-para2 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  color: blue;
  font-size: 14.5px;
  font-weight: 500;
}
.dummy-right {
  margin-left: 1.3rem;
}

.dummy-right-img {
  width: 3rem;
  height: 3rem;
  margin-top: 1.6rem;
}

.content4 {
  height: 86vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.content4-left {
  background-color: black;
}
.content4-heading1 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 3rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
  margin-top: 10.3rem;
  margin-left: 10rem;
}

.content4-heading2 {
  display: block;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-top: 1rem;
  margin-left: 10rem;
}

.content4-right {
  background-color: black;
  position: relative;
}
.content4-right img {
  position: relative;
  z-index: 10;
  height: 24rem;
  width: 31.89rem;
  font-weight: 25rem;
  margin-top: 3.6rem;
  margin-left: 0.4rem;
}

.content4-right video {
  height: 15.6rem;
  max-width: 20.5rem;
  position: absolute;
  margin-top: 4.181rem;
  margin-right: 15.5rem;
  right: 0;
}

.content5 {
  height: 86vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.content5-left {
  background-color: black;
  position: relative;
}
.content5-left-img {
  height: 24.5rem;
  width: 32.5rem;
  margin-left: 9.5rem;
  margin-top: 3.8rem;
}

.content5-right {
  display: flex;
  flex-direction: column;
  background-color: black;
}
.content5-heading1 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  color: rgb(255, 255, 255);
  margin-top: 7.8rem;
  font-size: 3.1rem;
  font-weight: 700;
  margin-right: 10rem;
}
.content5-heading2 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  color: rgb(255, 255, 255);
  margin-top: 0.6rem;
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 10.5rem;
}

#content6 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: black;
  padding-bottom: 5rem;
}

.content6-heading {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  margin-top: 4.1rem;
  font-size: 3rem;
  font-weight: 800;
  color: rgb(255, 255, 255);
}
#toggleButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
#toggleButton1 {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
#toggleButton2 {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
#toggleButton3 {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
#toggleButton4 {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
#toggleButton5 {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.content6-button {
  background-color: rgb(45, 45, 45);
  width: 64rem;
  height: 5.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-top: 1.5rem;
}
.content6-button1 {
  background-color: rgb(45, 45, 45);
  width: 64rem;
  height: 5.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-top: 0.5rem;
}
.content6-button2 {
  background-color: rgb(45, 45, 45);
  width: 64rem;
  height: 5.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-top: 0.5rem;
}
.content6-button3 {
  background-color: rgb(45, 45, 45);
  width: 64rem;
  height: 5.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-top: 0.5rem;
}
.content6-button4 {
  background-color: rgb(45, 45, 45);
  width: 64rem;
  height: 5.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-top: 0.5rem;
}
.content6-button5 {
  background-color: rgb(45, 45, 45);
  width: 64rem;
  height: 5.15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  margin-top: 0.5rem;
}
.content6-span-1 {
  margin-left: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.content6-span-2 {
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  margin-right: 1rem;
}
#symbol {
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  margin-right: 1rem;
  top: 2rem;
}
#symbo2 {
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  margin-right: 1rem;
  top: 2rem;
}
#symbo3 {
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  margin-right: 1rem;
  top: 2rem;
}
#symbo4 {
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  margin-right: 1rem;
  top: 2rem;
}
#symbo5 {
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  margin-right: 1rem;
  top: 2rem;
}
#answer {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 1.56rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  width: 64rem;
  background-color: rgb(45, 45, 45);
  margin-top: 0.05rem;
  padding-top: 1.2rem;
  padding-left: 3rem;
  padding-bottom: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#answer1 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 1.56rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  width: 64rem;
  background-color: rgb(45, 45, 45);
  margin-top: 0.06rem;
  padding-top: 1.2rem;
  padding-left: 3rem;
  padding-bottom: 1.3rem;
}
#answer2 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 1.56rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  width: 64rem;
  background-color: rgb(45, 45, 45);
  margin-top: 0.06rem;
  padding-top: 1.2rem;
  padding-left: 3rem;
  padding-bottom: 1.3rem;
  flex-direction: column;
  gap: 1rem;
}
#answer3 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 1.56rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  width: 64rem;
  background-color: rgb(45, 45, 45);
  margin-top: 0.06rem;
  padding-top: 1.2rem;
  padding-left: 3rem;
  padding-bottom: 1.3rem;
}
#answer4 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 1.56rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  width: 64rem;
  background-color: rgb(45, 45, 45);
  margin-top: 0.06rem;
  padding-top: 1.2rem;
  padding-left: 3rem;
  padding-bottom: 1.3rem;
}
#answer5 {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 1.56rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  width: 64rem;
  background-color: rgb(45, 45, 45);
  margin-top: 0.06rem;
  padding-top: 1.2rem;
  padding-left: 3rem;
  padding-bottom: 1.3rem;
  flex-direction: column;
  gap: 1rem;
}
.hidden {
  display: none;
}
.content6-button:hover {
  background-color: rgb(66, 66, 66);
}
.content6-button1:hover {
  background-color: rgb(66, 66, 66);
}
.content6-button2:hover {
  background-color: rgb(66, 66, 66);
}
.content6-button3:hover {
  background-color: rgb(66, 66, 66);
}
.content6-button4:hover {
  background-color: rgb(66, 66, 66);
}
.content6-button5:hover {
  background-color: rgb(66, 66, 66);
}
.content6-last-heading {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  margin-top: 3rem;
}
.main-content-last-form {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
  padding-top: 1.2rem;
}

#loginForm2 {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}

#EMAIL {
  position: relative;
  z-index: 10;
  margin-top: 1.2rem;
  width: 23.5rem;
  padding-left: 15px;
  font-size: 16px;
  border-radius: 0.3rem;
  border: 1.3px solid rgb(247, 33, 33);
  background-color: rgba(34, 33, 33, 0.5);
  color: rgb(255, 255, 255);
}
#loginForm2 input[type="email"]::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
}
#email {
  position: relative;
  z-index: 10;
  margin-top: 1.2rem;
  width: 23.5rem;
  padding-left: 15px;
  font-size: 16px;
  border-radius: 0.3rem;
  border: 1.3px solid rgb(247, 33, 33);
  background-color: rgba(34, 33, 33, 0.5);
  color: rgb(255, 255, 255);
}
#last-sign-in-button {
  position: relative;
  z-index: 10;
  padding: 1rem 1.8rem;
  border-radius: 0.3rem;
  margin-top: 1.2rem;
  color: rgb(255, 255, 255);
  background-color: red;
  font-size: 25px;
  font-weight: bold;
  border: none;
}
.content7 {
  display: flex;
  flex-direction: column;
  height: 65vh;
  background-color: black;
}

.content7-top {
  margin-left: 10.5rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
.content7-top span {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  color: rgb(255, 255, 255, 0.7);
  font-size: 17px;
  font-weight: 400;
}
.content7-top a {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  color: rgb(255, 255, 255, 0.7);
  font-size: 17px;
  font-weight: 400;
}
.content7-main {
  margin-top: 1.3rem;
  margin-left: 10.5rem;
  display: flex;
  flex-direction: row;
}
.content7-main-box {
  display: flex;
  flex-direction: column;
  margin-right: 8rem;
  gap: 1rem;
}
.content7-main-box a {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  font-size: 14.5px;
  font-weight: 400;
  color: rgb(255, 255, 255, 0.7);
}
.netflix-main-button {
  padding-right: 10.2rem;
  display: flex;
  flex-direction: row;
  gap: 1.4rem;
  margin-top: 1.5rem;
  margin-left: 10.5rem;
  position: relative;
  z-index: 10;
}
.netflix-main-button1 {
  border-radius: 0.3rem;
  border: none;
  background-color: black;
}
.LANGUAGE {
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 0.5rem 2.8rem;
  padding: 0.3rem 1rem;
  font-size: 15px;
  border-radius: 0.3rem;
  background-color: rgb(41, 39, 39);
}
.netflix-last-content {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  margin-left: 10.5rem;
  margin-top: 1rem;
  color: rgb(255, 255, 255, 0.7);
  font-size: 15px;
}







@media (max-width: 1200px) {
  html,
  body {
    overflow-x: hidden;
    height: 100vh;
  }

  .container {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .container .box {
    height: 100vh;
    width: 100%;
    opacity: 0.7;
    background-color: black;
    position: absolute;
    top: 0;
  }

  .netflix-logo {
    margin-left: 3rem;
  }

  #netflix-header-button {
    padding-right: 3rem;
  }
  .first-button {
    margin-left: 13rem;
  }

  .content2-heading1,
  .content3-heading1,
  .content4-heading1,
  .content5-heading1 {
    margin-left: 3.5rem;
    font-size: 2.2rem;
  }

  .content2-heading2,
  .content3-heading2,
  .content4-heading2,
  .content5-heading2 {
    margin-left: 3.5rem;
    font-size: 1.1rem;
  }

  .content2-right img,
  .content4-right img {
    width: 28rem;
    height: 22rem;
    margin-left: 6rem;
    margin-bottom: 4rem;
  }

  .content2-right video {
    right: 1.5rem;
    width: 21rem;
    height: 13rem;
    position: absolute;
    left: 28%;
  }

  .content4-right video {
    max-width: 18rem;
    height: 30rem;
    left: 13rem;
    bottom: 4rem;
  }

  .content6-span-1 {
    margin-left: 2rem;
  }

  .content6-span-2 {
    margin-right: 2rem;
  }

  #answer,
  #answer1,
  #answer2,
  #answer3,
  #answer4,
  #answer5,
  #answer6 {
    font-size: 1rem;
    width: 50rem;
    padding: 1rem 2.5rem;
    background-color: rgb(45, 45, 45);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .content6-button,
  .content6-button1,
  .content6-button2,
  .content6-button3,
  .content6-button4,
  .content6-button5 {
    width: 95%;
  }

  .content7 {
    height: 100vh;
  }

  .content7-top,
  .content7-main,
  .netflix-main-button,
  .netflix-last-content {
    margin-left: 1rem;
  }
  .content7-main-box {
    margin-left: 1rem;
  }
}

@media (max-width: 992px) {
  .container {
    height: 80vh;
  }

  .container .box {
    height: 60vh;
  }
  .netflix-logo {
    height: 6rem;
    width: 7rem;
    margin-left: 3rem;
  }

  #netflix-header-button {
    padding-right: 3rem;
    gap: 1rem;
  }

  .main-content {
    margin-top: 8rem;
    text-align: center;
  }

  #main-title1 {
    font-size: 2.5rem;
    padding: 0 2rem;
  }

  #main-title2 {
    font-size: 1.3rem;
    padding: 0 2rem;
  }

  .first-button {
    margin-left: 0;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }

  #EMAIL,
  #email {
    width: 100%;
    max-width: 400px;
  }

  #last-sign-in-button {
    width: 100%;
    max-width: 400px;
  }
  @media (max-width: 992px) {
    .content2-right img {
      position: relative;
      z-index: 10;
      height: 23rem;
      width: 30rem;
      margin-top: 3rem;
    }

    .content2-right video {
      height: 14.5rem;
      max-width: 22rem;
      position: absolute;
      margin-top: 4rem;
      margin-right: 17.5rem;
      right: -1rem;
      top: 50px;
    }
  }

  .content2,
  .content3,
  .content4,
  .content5 {
    grid-template-columns: 1fr;
    height: auto;
  }

  .content2-left,
  .content3-right,
  .content4-left,
  .content5-right {
    order: 1;
    text-align: center;
    padding: 2rem;
  }

  .content2-right,
  .content3-left,
  .content4-right,
  .content5-left {
    order: 2;
  }

  .content2-heading1,
  .content3-heading1,
  .content4-heading1,
  .content5-heading1 {
    margin: 2rem 0;
    font-size: 2rem;
  }

  .content2-heading2,
  .content3-heading2,
  .content4-heading2,
  .content5-heading2 {
    margin: 1rem 0;
    font-size: 1.2rem;
  }

  .content3-left-img,
  .content5-left-img {
    height: 30rem;
    width: 35rem;
    margin-top: 2rem;
  }

  .dummy {
    overflow: hidden;
    position: absolute;
    left: 28%;
    bottom: 18%;
    margin: 0 auto;
    width: 22rem;
    height: 6rem;
    z-index: 1;
    border-radius: 0.8rem;
  }
  .content6-button,
  .content6-button1,
  .content6-button2,
  .content6-button3,
  .content6-button4,
  .content6-button5 {
    width: 90%;
    height: 20%;
    padding: 1.5rem;
  }
  .content6-span-1 {
    font-size: 1.2rem;
    margin-left: 0.2rem;
  }

  .content6-span-2 {
    font-size: 2rem;
    margin-right: 0.1rem;
  }

  #answer,
  #answer1,
  #answer2,
  #answer3,
  #answer4,
  #answer5 {
    width: 90%;
    padding: 1rem;
    font-size: 1rem;
  }
  .content7 {
    display: flex;
    flex-direction: column;
    height: 55vh;
    background-color: black;
  }
}

@media (max-width: 768px) {
  .container {
    height: 65vh;
  }
  .container .box {
    height: 65vh;
  }
  .netflix-logo {
    margin-left: 2rem;
  }

  #netflix-header-button {
    padding-right: 2rem;
  }

  #main-title1 {
    font-size: 2rem;
    padding: 0 1rem;
  }

  #main-title2,
  #main-title3 {
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  #EMAIL,
  #email {
    width: 100%;
    max-width: 400px;
  }

  @media (max-width: 768px) {
    .content2-right img {
      position: relative;
      z-index: 10;
      height: 20rem;
      width: 28rem;
      margin-top: 2.5rem;
    }

    .content2-right video {
      height: 14.5rem;
      max-width: 24rem;
      position: absolute;
      margin-top: 3.5rem;
      margin-right: 8rem;
      right: -2rem;
      top: 50px;
    }
  }

  .content3-left-img {
    height: 24.5rem;
    width: 32.5rem;
    margin-left: 9rem;
    margin-top: 1.8rem;
  }
  .dummy {
    margin-left: 8px;
    width: 20rem;
  }
  .content5-left-img {
    height: 24.5rem;
    width: 32.5rem;
    margin-left: 9.5rem;
    margin-top: 3.8rem;
  }
  .content6-button,
  .content6-button1,
  .content6-button2,
  .content6-button3,
  .content6-button4,
  .content6-button5 {
    width: 90%;
    height: 20%;
    padding: 1.5rem;
  }

  .content6-span-1 {
    font-size: 1.2rem;
    margin-left: 0.2rem;
  }

  .content6-span-2 {
    font-size: 2rem;
    margin-right: 0.1rem;
  }

  #answer,
  #answer1,
  #answer2,
  #answer3,
  #answer4,
  #answer5 {
    width: 90%;
    padding: 1rem;
    font-size: 1rem;
  }
  .content7 {
    display: flex;
    flex-direction: column;
    height: 70vh;
    background-color: black;
  }
  .content7-top {
    margin-left: 2rem;
    flex-direction: column;
    font-size: 1rem;
  }

  .content7-main {
    margin-top: 1.3rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
  }

  .content7-main-box {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    gap: 1rem;
  }

  .netflix-main-button {
    margin-left: 2rem;
    padding-right: 2rem;
    flex-wrap: wrap;
  }
  .netflix-last-content {
    margin-left: 2rem;
  }
}

  @media (max-width: 600px) {
    .content2-right {
      background-color: black;
      position: relative;
    }

    .content2-heading1 {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }

    .content2-heading2 {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }

    .content2-right img {
      margin: 0 auto;
      padding-right: 30px;
      width: 23rem;
      height: 20rem;
      display: block;
    }

    .content2-right video {
      position: absolute;
      height: 13rem;
      width: 100%;
      max-width: 17rem;
      margin: 0 auto;
      left: 43%;
      transform: translateX(-40%);
      top: 52px;
    }
  

  .content3-left-img {
    height: 20rem;
    width: 20rem;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .dummy {
    width: 70%;
    left: 12%;
    margin-left: 1rem;
  }
  .content4-heading1 {
    margin-right: 10rem;
  }
  .content4-heading2 {
    margin-right: 10rem;
  }
  .content4-right img {
    right: 10rem;
    max-width: 25rem;
    height: 20rem;
    margin-top: 2.1rem;
  }
  .content4-right video {
    left: 4rem;
    height: 16rem;
    max-width: 15.5rem;
    bottom: 12rem;
  }
  .content5-left-img {
    height: 20rem;
    width: 20rem;
    margin-left: 2rem;
    margin-top: 1rem;
  }

  .content6-heading {
    font-size: 2rem;
    padding: 0 1rem;
    text-align: center;
  }
  .content6-span-1 {
    margin-left: 0.001rem;
  }
  .content6-span-2 {
    margin-right: 0.5rem;
  }
  .content6-last-heading {
    font-size: 1rem;
    padding: 0 1rem;
  }

  .main-content-last-form {
    flex-direction: column;
    width: 90%;
    gap: 1rem;
  }

  #last-sign-in-button {
    font-size: 1.2rem;
    width: 100%;
  }
  .content7 {
    display: flex;
    flex-direction: column;
    height: 95vh;
  }
  .content7-top span,
  .content7-top a {
    font-size: 14px;
  }

  .content7-main-box a {
    font-size: 12px;
  }

  .LANGUAGE {
    font-size: 14px;
    padding: 0.3rem 0.8rem;
  }
  }